<h4>Hola, {{name}}</h4>
<br>
<p>Usted recientemente ha sido registrado en la plataforma.</p>
<a href="{{url}}">Ingrese aquí para cambiar su contraseña.</a>.
<br>
<p>Por favor, ingrese al enlace para activar su cuenta e ingresar la contraseña para acceder al sistema.
</p>
<br>
<h4>Gracias.</h6>
<br>
<br>
<br>
<p>Test
    <br>
    URL = {{url}}
    <br>
    Token = {{token}}
</p>