<h4>Hola, {{name}}</h4>
<br>
<p>Para validar tu nuevo correo electrónico presiona en el siguiente
    <a href="{{url}}">enlace</a>.
</p>
<p>Hasta que el correo electrónico no sea validado no se podrá acceder a la cuenta.
</p>
<br>
<h4>Gracias.</h6>
<br>
<br>
<br>
<p>Test
    <br>
    URL = {{url}}
    <br>
    Token = {{token}}
</p>