<h4>Hola, {{name}}</h4>
<br>
<p>Para cambiar la contraseña presiona en el siguiente 
    <a href="{{url}}">enlace</a>.
</p>
<p>Si no fuiste tu, por favor ignora este mensaje.
</p>
<br>
<h4>Gracias.</h6>
<br>
<br>
<br>
<p>Test
    <br>
    URL = {{url}}
    <br>
    Token = {{token}}
</p>